<footer>
    <div class="social-buttons">
        <a href="https://www.facebook.com" target="_blank" class="social-button">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="social-button">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="social-button">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="social-button">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.youtube.com" target="_blank" class="social-button">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
      </div>
</footer>