<app-sidebar></app-sidebar>
<div class="about-section">
  <br><br>
    <div class="about-card">
      <img src="assets\Icone vetor - VERIFY SEGUROS-BRANCO.png" alt="Logo">
      <h2>Quem somos?</h2>
      <p>"A Verify Seguros é uma corretora de seguros comprometida com a confiança e a proteção dos sonhos e patrimônios de nossos clientes. Fundamentados em valores de honestidade, integridade e comprometimento, oferecemos seguros de vida, empresarial, automóvel e residencial. Nossa abordagem combina tecnologia digital com um atendimento humanizado e personalizado, diferenciando-nos no mercado. Nosso objetivo é simplificar a vida de quem procura um seguro, valorizando sempre a qualidade e a importância do atendimento pessoal."</p>
    </div>
    <br>
    <div class="about-card">
      <img src="assets\Icone vetor - VERIFY SEGUROS-BRANCO.png" alt="Logo">
      <h2>Missão</h2>
      <p>"Na Verify Seguros, nossa missão é proporcionar segurança e tranquilidade aos nossos clientes, protegendo o que é mais importante para eles. Trabalhamos incansavelmente para oferecer soluções de seguros personalizadas, garantindo um atendimento próximo, confiável e eficiente. Nosso compromisso é estar ao lado dos nossos clientes em todos os momentos, proporcionando a paz de espírito necessária para que possam viver suas vidas ao máximo."</p>
    </div>
    <br>

    <div class="about-card">
      <img src="assets\Icone vetor - VERIFY SEGUROS-BRANCO.png" alt="Logo">
      <h2>Especialização</h2>
      <p>"Especializados em seguros de vida, empresarial, automóvel e residencial, entendemos a importância de cada apólice que emitimos e do impacto positivo que podemos ter na vida das pessoas. Nossa abordagem personalizada e o cuidado com cada detalhe nos distinguem, permitindo-nos criar laços duradouros com nossos clientes, que muitas vezes se tornam parte de nossa família ampliada."</p>
    </div>
    <br>

    <div class="about-footer">
      <img src="assets\Icone vetor - VERIFY SEGUROS-ROSA.png" alt="Logo">
      <p>"Se você procura uma corretora de seguros que valoriza a transparência e o relacionamento genuíno com seus clientes, você está no lugar certo. Aqui, cada cliente é tratado com o respeito e a atenção que merece, porque para nós, segurança é uma questão de confiança e responsabilidade."</p>
    </div>
  </div>
  