$azul-verify: rgb(28, 31, 74);
$rosa-verify: rgb(233, 41, 94);

:host {
    display: block;
    height: 100vh;
    background-color: $azul-verify; /* Substitua pelo seu código de cor desejado */
    color: #fff; /* Define a cor do texto, se necessário */
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }